.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 16px;
  padding: 70px;
  width: 500px;
  transform: translate(-50%, -50%);
  background: hsl(219, 32%, 10%);
  z-index: 12;
}

.hidden {
  display: none;
}

.form-wrapper h2 {
  color: #fff;
  font-size: 2rem;
}
.form-wrapper form {
  margin: 25px 0 65px;
}
form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
  background: hsl(219, 32%, 10%);
  border: none;
}
.form-control input {
  height: 100%;
  width: 100%;
  background: hsl(219, 32%, 10%);
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  border-radius: 4px;
  color: hsl(0, 100%, 99%);
  font-size: 1rem;
  padding: 0 20px;
}
.form-control input:is(:focus, :valid) {
  background: hsla(218, 39%, 14%, 0.8);
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #ffffff;
  transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}
form .btn-lr {
  width: 100%;
  padding: 20px 50px;
  background: hsl(218, 39%, 14%);
  color: #fff;
  border-radius: 12px;
  border: none;
  outline: none;
  margin: 20px 0 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}
form .btn-lr:hover {
  background: hsl(214, 84%, 56%);
}
.form-wrapper a {
  text-decoration: none;
}
.form-wrapper a:hover {
  text-decoration: underline;
}
.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}
form .form-help {
  display: flex;
  justify-content: space-between;
}
form .remember-me {
  display: flex;
}
form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}
form .form-help :where(label, a) {
  font-size: 0.9rem;
}
.form-wrapper p a {
  color: #fff;
}

@media (max-width: 740px) {
  body::before {
    display: none;
  }
  nav,
  .form-wrapper {
    padding: 20px;
  }
  nav a img {
    width: 140px;
  }
  .form-wrapper {
    width: 100%;
    top: 43%;
  }
  .form-wrapper form {
    margin: 25px 0 40px;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border: none;
  background: hsl(219, 32%, 10%);
}
.close:hover ion-icon {
  color: hsl(214, 84%, 56%);
}

.error-message {
  color: #ff0000; /* Rojo o el color que prefieras */
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: none; /* Ocultar por defecto */
}

.form-control.error input {
  border-color: #ff0000; /* Rojo o el color que prefieras */
}

.form-control.error .error-message {
  display: block;
}
